@using BusinessLayer.Abstract;
@using EntityLayer.Concrete;
@using EntityLayer.DTOs;
@inject IUserService _userService;
@inject ISkillService _skillService;
@inject ICertificateService _certificateService;
@inject IEducationService _educationService;
@inject IExperienceService _experienceService;
@inject IHobbyService _hobbyService;
@inject ILanguageService _languageService;
@inject ILinkService _linkService;
@model UpdateUserDTO;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userId = Context.Request.Cookies["UserId"];
    var user = _userService.GetElementById(int.Parse(userId));

    var skills = _skillService.GetSkillsByUserId(int.Parse(userId));
    var certificates = _certificateService.GetCertificatesByUserId(int.Parse(userId));
    var educations = _educationService.GetEducationsByUserId(int.Parse(userId));
    var experiences = _experienceService.GetExperiencesByUserId(int.Parse(userId));
    var hobbies = _hobbyService.GetHobbiesByUserId(int.Parse(userId));
    var languages = _languageService.GetLanguagesByUserId(int.Parse(userId));
    var links = _linkService.GetLinksByUserId(int.Parse(userId));
}

<section class="section profile min-vh-100">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="~/ProfileImg/@user.Photo" alt="Profile" class="rounded-circle">
                    <h2>@user.Name @user.Surname</h2>
                    <h3>@user.Position</h3>
                    <div class="social-links mt-2">
                        @if(user.Linkedin != null)
                        {
                            <a href="@user.Linkedin" target="_blank" class="linkedin"><i class="ri-linkedin-box-fill"></i></a>
                        }
                        @if (user.Instagram != null)
                        {
                            <a href="@user.Instagram" target="_blank" class="instagram"><i class="ri-instagram-fill"></i></a>
                        }
                        @if (user.GitHub != null)
                        {
                            <a href="@user.GitHub" target="_blank" class="github"><i class="ri-github-fill"></i></a>
                        }
                        @if (user.YouTube != null)
                        {
                            <a href="@user.YouTube" target="_blank" class="youtube"><i class="ri-youtube-fill"></i></a>
                        }

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <form method="post" action="/Dashboard/DownloadPdf">
                        <button class="btn btn-success rounded-pill" style="width:20rem;">Download Customized CV</button>
                    </form>
                    <br />
                   
                    
                        <a class="btn btn-info rounded-pill" href="/Cv/BaseTemplate?shareCode=@user.ShareCode" style="width:20rem;">Go To Personal CV</a>
                    
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview" name="pages" value="overview">Overview</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" name="pages" value="edit-profile">Edit Profile</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-skills" name="pages" value="skills">Skills</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-hobbies" name="pages" value="hobbies">Hobbies</button>
                        </li>
                        
                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-languages" name="pages" value="languages">Languages</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-certificates" name="pages" value="certificates">Certificates</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-educations" name="pages" value="educations">Educations</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-experiences" name="pages" value="experiences">Experiences</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-links" name="pages" value="links">Additional Links</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-change-password" name="pages" value="change-password">Change Password</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <!--Overview Tab-->
                        <div class="tab-pane fade  profile-overview" id="profile-overview">

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">@user.Name @user.Surname</div>
                            </div>

                            @if (user.Description != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Description</div>
                                    <div class="col-lg-9 col-md-8">@user.Description</div>
                                </div>
                            }

                            @if (user.Position != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Position</div>
                                    <div class="col-lg-9 col-md-8">@user.Position</div>
                                </div>
                            }

                            @if (user.Phone != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">@user.Phone</div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@user.Email</div>
                            </div>

                            @if (user.Address != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Address</div>
                                    <div class="col-lg-9 col-md-8">@user.Address</div>
                                </div>
                            }

                        </div>

                        <!--Profile Edit Tab-->
                        <div class="tab-pane fade  profile-edit pt-3" id="profile-edit">

                           
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                        <div class="col-lg-9 ">
                                            <form action="/Dashboard/AddProfile" method="post" enctype="multipart/form-data">


                                             
                                                    <img src="~/ProfileImg/@user.Photo" alt="Profile">
                                                    <div class="pt-2">
                                                        <!-- Buton ile dosya seçimi -->
                                                        <input class="form-control" name="Photo" type="file"><br />
                                                        <button type="submit" class="btn btn-primary rounded-pill">Save Profile Image</button>
                                                    </div>
                                               

                                            </form>
                                        </div>
                                        <div class="col-3 ">
                                           
                                                <form action="/Dashboard/DeleteProfile" method="post">


                                                    <button type="submit" class="btn btn-danger rounded-pill"><i class="bi bi-trash"></i></button>
                                                </form>
                                           
                                        </div>
                                    </div>
                                            
                                            
                                    </div>
                                    
                                </div>
                            <form method="post" action="/Dashboard/UpdateUser" enctype="multipart/form-data">
                                <div class="row mb-3">
                                    <label for="Name" class="col-md-4 col-lg-3 col-form-label">Name</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Name" type="text" class="form-control" id="Name" value="@user.Name">
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <label for="Surname" class="col-md-4 col-lg-3 col-form-label">Surname</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Surname" type="text" class="form-control" id="Surname" value="@user.Surname">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="about" class="col-md-4 col-lg-3 col-form-label">Description</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Description" class="form-control" id="about" style="height: 100px">@user.Description</textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Position</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Position" type="text" class="form-control" id="company" value="@user.Position">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Phone" type="text" class="form-control" id="Phone" value="@user.Phone">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Address" type="text" class="form-control" id="Address" value="@user.Address">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Linkedin" type="text" class="form-control" id="Linkedin" value="@user.Linkedin">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Instagram" type="text" class="form-control" id="Instagram" value="@user.Instagram">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="GitHub" class="col-md-4 col-lg-3 col-form-label">GitHub Profile</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="GitHub" type="text" class="form-control" id="GitHub" value="@user.GitHub">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Youtube" class="col-md-4 col-lg-3 col-form-label">Youtube Profile</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Youtube" type="text" class="form-control" id="Youtube" value="@user.YouTube">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button>
                                </div>
                            </form>

                        </div>

                        <!--Skills Tab-->
                        <div class="tab-pane fade pt-3" id="profile-skills">
                                @{
                                    foreach (var skill in skills)
                                    {
                                        string barColor;

                                        if (skill.SPercentage < 25)
                                            barColor = "bg-danger";

                                        else if (skill.SPercentage < 50)
                                            barColor = "bg-warning";

                                        else if (skill.SPercentage < 75)
                                            barColor = "bg-info";

                                        else
                                            barColor = "bg-success";

                                        <div class="row align-items-center">
                                            <div class="col-lg-4 col-md-4 label ">@skill.SName</div>

                                            @*Progress bar*@
                                            <div class="col-lg-5 col-md-4 progress">
                                                <div class="progress-bar @barColor" role="progressbar" style="width: @skill.SPercentage%"
                                                     aria-valuenow="@skill.SPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            
                                            @*Buttons*@
                                            <div class="col-lg-3 col-md-4 d-flex justify-content-center">
                                                <a type="button" href="/Dashboard/EditSkill/@skill.SkillId" class="btn btn-warning rounded-pill m-1">Edit Skill</a>

                                            <a href="/Dashboard/DeleteSkill?skillId=@skill.SkillId" class="btn btn-danger rounded-pill m-1">Delete Skill</a>
                                            </div>
                                        </div>
                                    }

                                }

                                <div class="text-center">
                                    <a type="submit" class="btn btn-success rounded-pill" href="/Dashboard/AddSkill">Add Skill</a>
                                </div>
                        </div>
                        
                        <!--Hobbies Tab-->
                        <div class="tab-pane fade pt-3" id="profile-hobbies">
                            <form method="post" action="/Dashboard/AddSkill">
                                @{
                                    foreach (var hobby in hobbies)
                                    {
                                        <div class="row align-items-center">
                                            <div class="col-lg-6 col-md-4 label ">@hobby.HName</div>

                                            @*Buttons*@
                                            <div class="col-lg-6 col-md-4 d-flex justify-content-center">
                                                <button type="button" class="btn btn-warning rounded-pill m-1">Edit Hobby</button>
                                                <button type="button" class="btn btn-danger rounded-pill m-1">Delete Hobby</button>
                                            </div>
                                        </div>
                                    }

                                }
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success rounded-pill">Add Hobby</button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Languages Tab-->
                        <div class="tab-pane fade pt-3" id="profile-languages">
                            <form method="post" action="/Dashboard/AddSkill">
                                @{
                                    foreach (var language in languages)
                                    {
                                        string barColor;

                                        if (language.LangPercentage < 25)
                                            barColor = "bg-danger";

                                        else if (language.LangPercentage < 50)
                                            barColor = "bg-warning";

                                        else if (language.LangPercentage < 75)
                                            barColor = "bg-info";

                                        else
                                            barColor = "bg-success";

                                        <div class="row align-items-center">
                                            <div class="col-lg-4 col-md-4 label ">@language.LangName</div>

                                            @*Progress bar*@
                                            <div class="col-lg-4 col-md-4 progress">
                                                <div class="progress-bar @barColor" role="progressbar" style="width: @language.LangPercentage%"
                                                     aria-valuenow="@language.LangPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                            @*Buttons*@
                                            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                                <button type="button" class="btn btn-warning rounded-pill m-1">Edit Language</button>
                                                <button type="button" class="btn btn-danger rounded-pill m-1">Delete Language</button>
                                            </div>
                                        </div>
                                    }

                                }
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success rounded-pill">Add Language</button>
                                </div>
                            </form>
                        </div>

                        <!--Certificates Tab-->
                        <div class="tab-pane fade pt-3" id="profile-certificates">
                            <form method="post" action="/Dashboard/AddSkill">
                                @{
                                    foreach (var certificate in certificates)
                                    {
                                        <div class="row align-items-center">
                                            <div class="col-lg-2 col-md-4 label ">@certificate.CName</div>
                                            <div class="col-lg-2 col-md-4 label ">@certificate.Institution</div>
                                            <div class="col-lg-2 col-md-4 label ">@certificate.Url</div>
                                            <div class="col-lg-1 col-md-4 label ">@certificate.StartDate.ToShortDateString()</div>
                                            
                                            @if(certificate.EndDate != null) {
                                                <div class="col-lg-1 col-md-4 label ">@certificate.EndDate.Value.ToShortDateString()</div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-1 col-md-4 label ">------</div>
                                            }

                                            @*Buttons*@
                                            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                                <button type="button" class="btn btn-warning rounded-pill m-1">Edit Certificate</button>
                                                <button type="button" class="btn btn-danger rounded-pill m-1">Delete Certificate</button>
                                            </div>
                                        </div>
                                    }

                                }
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success rounded-pill">Add Certificate</button>
                                </div>
                            </form>
                        </div>

                        <!--Educations Tab-->
                        <div class="tab-pane fade pt-3" id="profile-educations">
                            <form method="post" action="/Dashboard/AddSkill">
                                @{
                                    foreach (var education in educations)
                                    {
                                        <div class="row align-items-center">
                                            <div class="col-lg-3 col-md-4 label ">@education.EName</div>
                                            <div class="col-lg-2 col-md-4 label ">@education.StartDate.ToShortDateString()</div>

                                            @if (education.EndDate != null)
                                            {
                                                <div class="col-lg-2 col-md-4 label ">@education.EndDate.Value.ToShortDateString()</div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-2 col-md-4 label ">------</div>
                                            }

                                            @*Buttons*@
                                            <div class="col-lg-5 col-md-4 d-flex justify-content-center">
                                                <button type="button" class="btn btn-warning rounded-pill m-1">Edit Education</button>
                                                <button type="button" class="btn btn-danger rounded-pill m-1">Delete Education</button>
                                            </div>
                                        </div>
                                    }

                                }
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success rounded-pill">Add Education</button>
                                </div>
                            </form>
                        </div>

                        <!--Experiences Tab-->
                        <div class="tab-pane fade pt-3" id="profile-experiences">
                            <form method="post" action="/Dashboard/AddSkill">
                                @{
                                    foreach (var experience in experiences)
                                    {
                                        <div class="row align-items-center">
                                            <div class="col-lg-3 col-md-4 label ">@experience.ExName</div>
                                            <div class="col-lg-2 col-md-4 label ">@experience.StartDate.ToShortDateString()</div>

                                            @if (experience.EndDate != null)
                                            {
                                                <div class="col-lg-2 col-md-4 label ">@experience.EndDate.Value.ToShortDateString()</div>
                                            }
                                            else
                                            {
                                                <div class="col-lg-2 col-md-4 label ">------</div>
                                            }

                                            @*Buttons*@
                                            <div class="col-lg-5 col-md-4 d-flex justify-content-center">
                                                <button type="button" class="btn btn-warning rounded-pill m-1">Edit Experience</button>
                                                <button type="button" class="btn btn-danger rounded-pill m-1">Delete Experience</button>
                                            </div>
                                        </div>
                                    }

                                }
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success rounded-pill">Add Experience</button>
                                </div>
                            </form>
                        </div>

                        <!--Links Tab-->
                        <div class="tab-pane fade pt-3" id="profile-links">
                            <form method="post" action="/Dashboard/AddSkill">
                                @{
                                    foreach (var link in links)
                                    {
                                        <div class="row align-items-center">
                                            <div class="col-lg-4 col-md-4 label ">@link.LName</div>

                                            <a class="col-lg-4 col-md-4 label" href="@link.LUrl" target="_blank">@link.LUrl</a>

                                            @*Buttons*@
                                            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                                <button type="button" class="btn btn-warning rounded-pill m-1">Edit Link</button>
                                                <button type="button" class="btn btn-danger rounded-pill m-1">Delete Link</button>
                                            </div>
                                        </div>
                                    }

                                }
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success rounded-pill">Add Additional Link</button>
                                </div>
                            </form>
                        </div>

                        <!--Change Password Tab-->
                        <div class="tab-pane fade pt-3 " id="profile-change-password">
                            <form>

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="password" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form>

                        </div>

                    </div>
                    <!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    

    $(document).ready(function () {
        // Check if there's a stored selected tab value in local storage
        var selectedTabValue = sessionStorage.getItem("selectedTabValue");

        // If there's no stored value, set default to overview
        if (!selectedTabValue) {
            selectedTabValue = "overview";
        }

        // If the value is undefined, load the default tab
        if(selectedTabValue == "undefined") {
            selectedTabValue = "overview";
        }

        // If there's a stored value, set the active tab accordingly
        if (selectedTabValue) {
            $(".nav-link").each(function () {
                if ($(this).attr("value") === selectedTabValue) {
                    $(this).addClass("active");
                    $(this).parent().addClass("active");
                    var target = $(this).attr("data-bs-target");
                    $(target).addClass("show active");
                }
            });
        }

        // Attach a click event handler to each tab button
        $(".nav-link").on("click", function () {
            // Store the selected tab value in local storage
            var value = $(this).attr("value");
            sessionStorage.setItem("selectedTabValue", value);
        });
    });
</script>

