@using BusinessLayer.Abstract;
@inject IUserService _userService;

<!DOCTYPE html>
<html lang="en">

<head>
    <!--ADSENSE Code-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2634275001618180"
            crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D5YMBS59W1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-D5YMBS59W1');
    </script>

    <!--Yandex Verification-->
    <meta name="yandex-verification" content="a6ea85074e978192" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i]function() { (m[i].a = m[i].a[]).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(94978132, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94978132" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <title>CVSharer</title>

    <meta content="" name="description">
    <meta content="create cv,share cv,cv maker,cv sharer,make cv,cv creator,cv oluştur,cv oluşturma,cv paylaş,kişisel cv,personal cv,free cv maker,ücretsiz cv oluşturucu,online cv maker,auto cv maker,best cv maker,cv,cv hazırlama,download cv,cv template,free cv template,download cv template,örnek cv,example cv,cv düzenleme,edit cv,cv pdf,pdf cv,cv format,özgeçmiş,resume,ücretsiz cv" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/logo.png" rel="icon">


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->


    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class=" align-items-center ">
            <a href="/Home/Index" class="logo align-items-center">
                <img src="~/assets/img/logo.png" alt="">
                <span class="">CVSharer</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn show-on-mobile"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <a href="/Home/Index" class="btn btn-light rounded-pill m-1 hide-on-mobile">Homepage</a>
                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <a href="/Home/HowToBegin" class="btn btn-light rounded-pill m-1 hide-on-mobile">How To Begin?</a>
                }
                <a href="/Template/Index" class="btn btn-light rounded-pill m-1 hide-on-mobile">Templates</a>
                <a href="/Home/Contact" class="btn btn-light rounded-pill m-1 hide-on-mobile">Contact</a>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    var userId = Context.Request.Cookies["UserId"];
                    var user = _userService.GetElementById(int.Parse(userId));

                    <nav class="header-nav ms-auto">
                        <ul class="d-flex align-items-center">
                            <li class="nav-item dropdown pe-3">

                                <a class="nav-link nav-profile d-flex align-items-center pe-0 m-1" href="#" data-bs-toggle="dropdown">
                                    <img src="~/ProfileImg/@user.Photo" alt="Profile" class="rounded-circle">
                                    <span class="d-none d-md-block dropdown-toggle ps-2">@user.Name @user.Surname</span>
                                </a><!-- End Profile Image Icon -->

                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                    <li class="dropdown-header">
                                        <h6>@user.Name @user.Surname</h6>
                                        <span>@user.Position</span>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="/Dashboard/Index">
                                            <i class="bi bi-person"></i>
                                            <span>My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <form method="post" action="/Dashboard/DownloadPdf?shareCode=@user.ShareCode">
                                        <button class="dropdown-item d-flex align-items-center">
                                            <i class="ri-download-line"></i>
                                            <span>Download CV</span>
                                        </button>
                                        </form>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="/Settings/Index">
                                            <i class="bi bi-gear"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="/Home/HowToBegin">
                                            <i class="bi bi-question-circle"></i>
                                            <span>How To Begin?</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="/Session/LogOut">
                                            <i class="bi bi-box-arrow-right"></i>
                                            <span>Log Out</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </nav>
                }
                else
                {
                    <a href="/Session/Login" class="btn btn-outline-primary rounded-pill m-1">Login</a>
                    <a href="/Session/Register" class="btn btn-outline-warning rounded-pill m-1">Register</a>
                }





            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/Index">
                    <i class="ri-home-2-line"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/HowToBegin">
                    <i class="ri-question-line"></i><span>How To Begin?</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Template/Index">
                    <i class="ri-bank-card-line"></i><span>Templates</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/Contact">
                    <i class="ri-share-line"></i>
                    <span>Contact</span>
                </a>
            </li>

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        @RenderBody()
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <div class="container-fluid text-dark " style="background-color:antiquewhite;">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-2">
                <img src="~/assets/img/logo.png" width="80rem" />
                <h1 class=" font-weight-semi-bold ">CVSharer</h1>
                <p class=""><a href="mailto:sharercv@gmail.com">sharercv@gmail.com</a></p>
            </div>
            <br />
            <div class="col-lg-8 ">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/Home/Index"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="/Template/Index"><i class="fa fa-angle-right mr-2"></i>Templates</a>
                            <a class="text-dark mb-2" href="/Home/Privacy" target="_blank"><i class="fa fa-angle-right mr-2"></i>Privacy Policy</a>
                            <a class="text-dark" href="/Home/Terms" target="_blank"><i class="fa fa-angle-right mr-2"></i>Terms and Conditions</a>
                        </div>
                    </div>
                    <div class="col-8 ">
                        <h3 class="font-weight-bold text-dark align-content-center">
                            Make Your Dream CV And Share It Easily!
                        </h3>
                        <br />
                        <p>
                            CVSharer is a CV creation platform that helps you steer your career effectively. With its user-friendly interface, customizable templates, and easy sharing features, it enhances the efficiency of your job search process.

                        </p>
                    </div>


                </div>
            </div>
            <div class="col-lg-2 icon">

                <h1 class=" font-weight-semi-bold ">Developers</h1>
                <a href="https://www.linkedin.com/in/emir-morali-267a5b242/" target="_blank" class=" d-flex align-items-center">  <i class="ri-linkedin-box-fill m-1" style="font-size:2rem"></i><b>Emir Moralı</b></a>
                <a href="https://www.linkedin.com/in/huseyin-karadana/" target="_blank" class=" d-flex align-items-center">  <i class="ri-linkedin-box-fill m-1" style="font-size:2rem"></i><b>Hüseyin Karadana</b></a>
            </div>
        </div>
        <hr style="color:black;height:1rem" />
        <div class="copyright text-center">
            &copy; Copyright <strong><span>CVSharer</span></strong>. All Rights Reserved
            <br />
        </div>
    </div>

    <!-- End Footer -->

    <!--Back To Top-->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/jquery/dist/jquery.js"></script>
    <script src="~/assets/jquery/dist/jquery.min.js"></script>

    @await Component.InvokeAsync("Notyf")

    <script>
        // Function to handle showing or hiding the sidebar
        function toggleScreenSize() {
            if ($(window).width() < 700) {
                $('.sidebar').show();
                $('.show-on-mobile').show();
                $('.hide-on-mobile').hide();
            } else {
                $('.sidebar').hide();
                $('.show-on-mobile').hide();
                $('.hide-on-mobile').show();
            }
        }

        // Run the function on page load
        $(document).ready(function () {
            toggleScreenSize();
        });

        // Run the function on window resize
        $(window).resize(function () {
            toggleScreenSize();
        });
    </script>

</body>

</html>