@using BusinessLayer.Abstract;
@using EntityLayer.Concrete;
@using EntityLayer.DTOs;
@inject IUserService _userService;
@inject ISkillService _skillService;
@inject ICertificateService _certificateService;
@inject IEducationService _educationService;
@inject IExperienceService _experienceService;
@inject IHobbyService _hobbyService;
@inject ILanguageService _languageService;
@inject ILinkService _linkService;
@model User;
@{
    ViewData["Title"] = "Template2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Model.UserId;

    var user = _userService.GetElementById(userId);

    var skills = _skillService.GetSkillsByUserId(userId);
    var certificates = _certificateService.GetCertificatesByUserId(userId);
    var educations = _educationService.GetEducationsByUserId(userId);
    var experiences = _experienceService.GetExperiencesByUserId(userId);
    var hobbies = _hobbyService.GetHobbiesByUserId(userId);
    var languages = _languageService.GetLanguagesByUserId(userId);
    var links = _linkService.GetLinksByUserId(userId);
}


<html >
<head>
   
    
    <style>
        * {
            box-sizing: border-box;
            transition: 0.35s ease;
        }

        .rela-block {
            display: block;
            position: relative;
            margin: auto;
            top:;
            left:;
            right:;
            bottom:;
        }

        .rela-inline {
            display: inline-block;
            position: relative;
            margin: auto;
            top:;
            left:;
            right:;
            bottom:;
        }

        .floated {
            display: inline-block;
            position: relative;
            margin: false;
            top:;
            left:;
            right:;
            bottom:;
            float: left;
        }

        .abs-center {
            display: false;
            position: absolute;
            margin: false;
            top: 50%;
            left: 50%;
            right: false;
            bottom: false;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 88%;
        }

     

           

        .caps {
            text-transform: uppercase;
        }

        .justified {
            text-align: justify;
        }

        p.light {
            color: #777;
        }

        h2 {
            
            font-size: 30px;
            letter-spacing: 5px;
            font-weight: 600;
            line-height: 40px;
            color: #000;
        }

        h3 {
           
            font-size: 21px;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 28px;
            color: #000;
        }

        .page {
            width: 90%;
            min-height:1300px;
            margin: 80px auto;
            background-color: #fff;
            box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
        }

        .top-bar {
            height: 220px;
            background-color: #848484;
            color: #fff;
        }

        .name {
            display: false;
            position: absolute;
            margin: false;
            top: false;
            left: calc(350px + 5%);
            right: 0;
            bottom: 0;
            height: 120px;
            text-align: center;
            
            font-size: 58px;
            letter-spacing: 8px;
            font-weight: 100;
            line-height: 60px;
        }

            .name div {
                width: 94%;
            }

        .side-bar {
            display: false;
            position: absolute;
            margin: false;
            top: 60px;
            left: 5%;
            right: false;
            bottom: 0;
            width: 350px;
            background-color: #f7e0c1;
            padding: 320px 30px 50px;
            

        }

        .mugshot {
            display: false;
            position: absolute;
            margin: false;
            top: 50px;
            left: 70px;
            right: false;
            bottom: false;
           
            width: 210px;
        }

            .mugshot .logo {
                margin: -23px;
            }

       

            .logo .logo-svg {
                height: 100%;
                width: 100%;
                stroke: #000;
                cursor: pointer;
            }

            .logo .logo-text {
                display: false;
                position: absolute;
                margin: false;
                top: 58%;
                left:;
                right: 16%;
                bottom:;
                cursor: pointer;
                
                font-size: 55px;
                letter-spacing: 0px;
                font-weight: 400;
                line-height: 58.333333333333336px;
            }

        .social {
            padding-left: 60px;
            margin-bottom: 20px;
            cursor: pointer;
        }

            .social:before {
                content: "";
                display: false;
                position: absolute;
                margin: false;
                top: -4px;
                left: 10px;
                right: false;
                bottom: false;
                height: 35px;
                width: 35px;
                background-size: cover !important;
            }

            .social.twitter:before {
                background: url("https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_Twitter-07-128.png") center no-repeat;
            }

            .social.pinterest:before {
                background: url("https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_Pinterest-23-128.png") center no-repeat;
            }

            .social.linked-in:before {
                background: url("https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_LinkedIn-128.png") center no-repeat;
            }

        .side-header {
            
            font-size: 18px;
            letter-spacing: 4px;
            font-weight: 600;
            line-height: 28px;
            margin: 60px auto 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #888;
        }

        .list-thing {
            padding-left: 25px;
            margin-bottom: 10px;
        }

        .content-container {
            margin-right: 0;
            width: calc(95% - 350px);
            padding: 25px 40px 50px;
        }

            .content-container > * {
                margin: 0 auto 25px;
            }

            .content-container > h3 {
                margin: 0 auto 5px;
            }

            .content-container > p.long-margin {
                margin: 0 auto 50px;
            }

        .title {
            width: 80%;
            text-align: center;
        }

        .separator {
            width: 240px;
            height: 2px;
            background-color: #999;
        }

        .greyed {
            background-color: #ddd;
            width: 100%;
            max-width: 580px;
            text-align: center;
            
            font-size: 18px;
            letter-spacing: 6px;
            font-weight: 600;
            line-height: 28px;
        }

    </style>
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- PAGE STUFF -->
    <div class="rela-block page" >
        <div class="rela-block top-bar">
            <div class="caps name"><div class="abs-center">@user.Name @user.Surname</div></div>
        </div>
        <div class="side-bar">
            <div class="mugshot">
                @{
                    var path = "https://cvsharer.com/ProfileImg/" + user.Photo;
                }
                <img src="@path" alt="" width="200px">
            </div>
          
            <p class="m-1">  @user.Email</p>
            @if (user.Address != null)
            {

                <p class="m-1">@user.Address</p>
            }

            @if (user.Phone != null)
            {
                <p class="m-1" ><strong> </strong>@user.Phone</p>
            }
            @if (user.Instagram != null || user.Linkedin != null || user.YouTube != null || user.GitHub != null || links.Count > 0)
            {<br />
                @if (user.Instagram != null)
                {
                    <h6><a href="@user.Instagram" style="color:black"><i class="ri-instagram-line"></i>@user.Instagram</a></h6>
                }
                @if (user.Linkedin != null)
                {
                    <h6><a href="@user.Linkedin" style="color:black"><i class="ri-linkedin-box-fill"></i>@user.Linkedin</a></h6>
                }
                @if (user.GitHub != null)
                {
                    <h6><a href="@user.GitHub" style="color:black"><i class="ri-github-fill"></i>@user.GitHub</a></h6>
                }
                @if (user.YouTube != null)
                {
                    <h6><a href="@user.YouTube" style="color:black"><i class="ri-youtube-fill"></i>@user.YouTube</a></h6>
                }
                @if (links != null)
                {
                    @foreach (var link in links)
                    {
                        <h6><a href="@link.LUrl" style="color:black"><i class="ri-links-fill"></i>@link.LUrl</a></h6>
                    }
                }
            }
            
            
            
         
            @if (skills.Count > 0)
            {
                    <p class="rela-block caps side-header">Skills</p>
                    @foreach (var skill in skills)
                    {
                        <div class="rela-block list-thing align-items-center">

                            <div class="col-lg-12 col-md-4 progress" style="height:2rem">
                                <div class="progress-bar " role="progressbar" style="width: @skill.SPercentage%"
                                     aria-valuenow="@skill.SPercentage" aria-valuemin="0" aria-valuemax="100" >
                                    @skill.SName
                                </div>
                            </div>
                         </div>
                    }
                   
            }
            @if (languages.Count > 0)
            {
                <p class="rela-block caps side-header">Languages</p>
                @foreach (var language in languages)
                {
                    <div class="rela-block list-thing align-items-center">

                        <div class="col-lg-12 col-md-4 progress" style="height:2rem">
                            <div class="progress-bar " role="progressbar" style="width: @language.LangPercentage%"
                                 aria-valuenow="@language.LangPercentage" aria-valuemin="0" aria-valuemax="100">
                                @language.LangName
                            </div>
                        </div>
                    </div>
                   
                }
            }
            @if (hobbies.Count > 0)
            {
                <p class="rela-block caps side-header">Hobbies</p>
                @foreach (var hobby in hobbies)
                {
                    <p class="rela-block list-thing">@hobby.HName</p>
                  
                }
            }
																														
          
        </div>
        <div class="rela-block content-container">
            <h2 class="rela-block caps title">@user.Position</h2>
            <div class="rela-block separator"></div>
            <div class="rela-block caps greyed">Profile</div>
            <p class="long-margin">@user.Description </p>
            @if (educations.Count > 0)
            {
                <div class="rela-block caps greyed">Education</div>
                @foreach (var education in educations)
                {
                    <h3>@education.EName</h3>
                    <p class="light">@education.StartDate.ToShortDateString() @(education.EndDate != null ? "- " + education.EndDate.Value.ToShortDateString() : "")</p>
               
                }
            }
            @if (experiences.Count > 0)
            {
                <div class="rela-block caps greyed">Experience</div>
                @foreach (var experience in experiences)
                {
                    <h3>@experience.ExName</h3>
                    <p class="light">@experience.StartDate.ToShortDateString() @(experience.EndDate != null ? "- " + experience.EndDate.Value.ToShortDateString() : "")</p>

                }
            }
            @if (certificates.Count > 0)
            {
                <div class="rela-block caps greyed">Certificates</div>
                @foreach (var certificate in certificates)
                {
                    <p class="light">@certificate.StartDate.ToShortDateString() @(certificate.EndDate != null ? "- " + certificate.EndDate.Value.ToShortDateString() : "")<br /><a href='@certificate.Url' target='_blank' style='text-decoration: underline; color: #6133d5;' rel='noopener'>@certificate.Institution - @certificate.CName</a> </p>

                  
                }
            }


            
            @{
                var shareCode = user.ShareCode;
            }

            <div class='pt-4 d-flex flex-column align-items-center'>
                <form method='post' action='/Dashboard/DownloadPdf?shareCode=@shareCode'>

                    <button class='btn btn-success rounded-pill btn-lg m-1' style='width:15rem;'>Download CV</button>
                </form>

                <a class='btn btn-warning rounded-pill btn-lg m-1' id="copyLinkButton" style='width:15rem;'>
                    <i class="ri-file-copy-fill"></i> Copy Link
                </a>
            </div>
            



        </div>
    </div>
   
    <script>
        var currentPageLink;
        document.addEventListener("DOMContentLoaded", function () {
            var copyLinkButton = document.getElementById("copyLinkButton");

            copyLinkButton.addEventListener("click", function () {
                currentPageLink = window.location.href;

                var tempInput = document.createElement("input");
                tempInput.value = currentPageLink;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand("copy");
                document.body.removeChild(tempInput);

                alert("Page Link Copied: " + currentPageLink);
            });
        });
    </script>

</body>
</html>



